<form [formGroup]="loginForm" novalidate>
  <div class="form-group">
    <label class="center-block">Email or Phone or MAX employee id:
      <input type="email" class="form-control" formControlName="userName">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">password
      <input type="password" class="form-control" formControlName="password">
    </label>
  </div>
</form>
<pre>Form value: {{ loginForm.value | json }}</pre>
<pre>Form status: {{ loginForm.status | json }}</pre>